.container{
   margin-bottom: 100px;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #F0FFF0;
}

.sign-in-btn{
    background-color: #21B573;
    padding: 12px 28px 12px 28px;
    border-radius: 25px;
    color: white;
    width: 120px;
}
.nav-item{
    padding-right: 20px;
}
.any-schedule{
    color: #21B573;
}
h1{
    margin-bottom: 30px;
}
.get-started{
    background-color: #21B573;
    padding: 12px 28px 12px 28px;
    border-radius: 25px;
    color: white;
    width: 160px;
}
.card{
    width: 170px;
    height: 200px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 10px gray;
    background: #F0FFF0;
}
.card-title{
    padding-top: 20px;
}